<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Diagnóstico</a>
    </div>
  </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">"Respirar lentamente es como un ancla en medio de una tormenta emocional: el ancla no hará
            que la tormenta se vaya, pero te mantendrá firme hasta que pase". </h5>
          <p class="category">Russ Harris
          </p>
          <p style="text-align: justify;">
            Para determinar si el malestar que sufre un paciente proviene de un simple resfriado o de un coronavirus los
            médicos puede realizar un cultivo de nariz y garganta, o incluso un análisis de sangre.
          </p>
          <p style="text-align: justify;">
            En casos de sospecha de coronavirus se suele realizar una tomografía de tórax para determinar los síntomas
            de neumonía, así como otros análisis de coagulación de sangre, un análisis bioquímico y un conteo sanguíneo.
            También se realizan pruebas de anticuerpos y aislamiento del virus del SARS.
          </p>
          <p style="text-align: justify;">
            Asimismo, con el fin de contener la transmisión, se efectúa una evaluación a aquellas personas que presentan
            los síntomas y que puedan ser proclives a contraer el virus.
          </p>
          <p>
            El control de la temperatura (con cámaras térmicas y termómetros digitales) de las personas que llegan a un
            aeropuerto procedentes de zonas afectadas ha sido una de las medidas que se han puesto en marcha para
            detectar posibles casos del COVID-19, tal y como se hizo con los brotes anteriores. También se realizan
            cuestionarios a los viajeros; en caso de sospecha, se les somete a evaluación y, en su caso, se les traslada
            a centros sanitarios.
          </p>
          <label>Fuente:</label>
          <a href="https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html">
            https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html
          </a>
          <br>
          <p>
            <div class="d-flex justify-content-center">
              <img src="../covid-19/assets/img/diagnostic.png">
            </div>
            <div class="d-flex justify-content-center">
              <label>Fuente: </label>
              <a
                href="https://www.ins.gov.co/Noticias/Coronavirus/Algoritmos%20de%20Diagn%C3%B3stico%20para%20Virus%20Respiratorios%2010.03.20.pdf">
                https://www.ins.gov.co/Noticias/Coronavirus/Algoritmos%20de%20Diagn%C3%B3stico%20para%20Virus%20Respiratorios%2010.03.20.pdf
              </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>