<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">¿Cómo se propaga el virus?</a>
    </div>
  </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">"Toda la desdicha de los hombres se debe a una sola cosa: no saber permanecer en reposo en
            una habitación".</h5>
          <p class="category">Blaise Pascal
          </p>
          <p style="text-align: justify;">
            Los coronavirus se transmitían de forma limitada entre humanos. Se desconoce el origen de estos virus, pero
            se sabe que ciertos animales, como los murciélagos, actúan como reservorios.
          </p>
          <p style="text-align: justify;">
            Como en otros virus que causan neumonía, cuando se transmiten en humanos, el contagio se produce
            generalmente por vía respiratoria, a través de las gotitas respiratorias que las personas producen cuando
            tosen, estornudan o al hablar.
          </p>
          <p style="text-align: justify;">
            Todo parece indicar que  nuevo coronavirus, COVID-19, también conocido como coronavirus de Wuhan, tiene una
            procedencia animal. De hecho, los primeros casos se han relacionado con un mercado de animales vivos de la
            ciudad de Wuhan, en China.
          </p>
          <p style="text-align: justify;">
            En cuanto al MERS, es probable que los camellos sean un importante reservorio para este tipo de coronavirus
            y una fuente animal de infección en los seres humanos, como especificaba la Organización Mundial de la Salud
            en su nota descriptiva sobre la enfermedad. Sin embargo, se desconoce la función específica de los camellos
            en la transmisión del virus y también la ruta o rutas exactas de transmisión.
          </p>
          <p style="text-align: justify;">
            En origen, el coronavirus MERS-CoV es un virus zoonótico que se transmite de animales a personas. Según se
            desprende del análisis de varios de sus genomas, se cree que el virus se originó en murciélagos y se
            transmitió a los camellos en algún momento de un pasado lejano.
          </p>
          <p style="text-align: justify;">
            Se cree que el coronavirus del SRAS tuvo su origen en los murciélagos, saltando posteriormente a alguna otra
            especie de pequeño mamífero, como la civeta, y por último a los humanos.
          </p>
          <label>Fuente:</label>
          <a href="https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html">
            https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html
          </a>
          <br>
          <p>
            <img src="../covid-19/assets/img/how1.jpg">
            <label>Fuente: </label>
            <a href="https://www.milenio.com/internacional/mapa-del-coronavirus-en-el-mundo">
              https://www.milenio.com/internacional/mapa-del-coronavirus-en-el-mundo
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>