<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">¿Cómo reducir el riesgo de contagio del coronavirus?</a>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header">
  <div class="header text-center">
    <h5 class="title">"La imaginación es la mitad de la enfermedad. La tranquilidad es la mitad del remedio y la
      paciencia es el comienzo de la cura".</h5>
    <p class="category">Ibn Sina</p>
  </div>
</div>
<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de sugerencias</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="alert alert-info">
              <span>Lava las manos con agua y jabón o utiliza productos antibacteriales a base de alcohol.</span>
            </div>
            <div class="alert alert-info">
              <span>Cubre la nariz y la boca con pañuelos desechables o con el ángulo interno del codo cuando se vaya a toser o estornudar.</span>
            </div>
            <div class="alert alert-info">
              <span>Evita el contacto cercano con quien esté resfriado o con síntomas similares a la gripe.</span>
            </div>
            <div class="alert alert-info">
              <span>Cocina bien la carne y los huevos.</span>
            </div>            
          </div>
          <div class="col-md-6">
            <div class="alert alert-info">
              <span>Evita el contacto sin protección con animales vivos de granja o salvajes.</span>
            </div>
            <div class="alert alert-info">
              <span>Limpie y desinfecte diariamente las superficies que se tocan con frecuencia.</span>
            </div>
            <div class="alert alert-info">
              <span>Use una mascarilla si está enfermo.</span>
            </div>            
            <div class="alert alert-info">
              <span>Quédese en casa si está enfermo.</span>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>