<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Origen</a>
    </div>
  </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">"Olvidamos que el ciclo del agua y el ciclo de la vida son uno mismo".</h5>
          <p class="category">Jacques Yves Cousteau
          </p>
          <p style="text-align: justify;">
            El virus surgió en Wuhan, China, a finales de 2019, cuando hubo un foco de casos en un mercado de animales.
          </p>
          <p style="text-align: justify;">
            El coronavirus, oficialmente llamado SARS-CoV-2, está estrechamente relacionado a los virus que infectan a
            murciélagos, pero se cree que este virus pasó de los murciélagos a una misteriosa especie animal que luego
            se lo pasó a los humanos.
          </p>
          <p style="text-align: justify;">
            Ese “eslabón perdido” sigue siendo desconocido y podría ser una fuente de infecciones adicionales.
          </p>
          <label>Fuente:</label>
          <a href="https://www.bbc.com/mundo/noticias-52083993">
            https://www.bbc.com/mundo/noticias-52083993
          </a>
          <br>
          <p>
            <div class="d-flex justify-content-center">
              <img src="../covid-19/assets/img/origin1.jpg">
            </div>
            <div class="d-flex justify-content-center">
              <label>Fuente: </label>
              <a
                href="https://www.redaccionmedica.com/secciones/sanidad-hoy/coronavirus-razones-origen-no-esta-laboratorio-2356">
                https://www.redaccionmedica.com/secciones/sanidad-hoy/coronavirus-razones-origen-no-esta-laboratorio-2356
              </a>
            </div>
          </p>
          <br>
          <p>
            <div class="d-flex justify-content-center">
              <img src="../covid-19/assets/img/origin2.jpg">
            </div>
            <div class="d-flex justify-content-center">
              <label>Fuente: </label>
              <a href="https://www.lmneuquen.com/la-sopa-murcielago-es-el-origen-del-virus-n679836">
                https://www.lmneuquen.com/la-sopa-murcielago-es-el-origen-del-virus-n679836
              </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>