<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Prevención</a>
    </div>
  </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">"El mundo al revés nos enseña a padecer la realidad en lugar de cambiarla, a olvidar el pasado en lugar de escucharlo y a aceptar el futuro en lugar de imaginarlo".</h5>
          <p class="category">Eduardo Galeano
          </p>
          <p style="text-align: justify;">
            Hasta la fecha no se dispone de vacuna alguna ni de tratamiento específico para combatir la infección por coronavirus.           
          </p>
          <p>
            Mantener una higiene básica es la forma más eficaz de evitar contraer este virus en los lugares en los que existe un mayor riesgo de transmisión, fundamentalmente las zonas en las que se han registrado casos. Es conveniente lavarse las manos con frecuencia y evitar el contacto con personas ya infectadas, protegiendo especialmente ojos, nariz y boca. A las personas infectadas (o que crean que pueden estarlo) se les aconseja el uso de mascarillas y usar pañuelos para cubrirse la nariz y la boca cuando se tose o se estornuda.
          </p>
          <p>
            Las personas infectadas por el virus que causa el COVID-19 deben guardar cuarentena desde el diagnóstico de la enfermedad hasta 15 días después de ser dadas de alta. Así lo aconseja la OMS porque se ha observado que, aunque ya estén recuperadas, pueden seguir transmitiendo la infección.
          </p>
          <p>
            La población general sana no necesita utilizar mascarillas, ya que ayudan a prevenir la transmisión del virus si las llevan las personas que están enfermas. El Ministerio de Sanidad advierte de que un uso inadecuado de mascarillas puede contribuir al desabastecimiento en aquellas situaciones para las que están indicadas.
          </p>
          <p>
            Las medidas preventivas deben seguirlas especialmente aquellas personas que padezcan diabetes, insuficiencia renal, neumopatía crónica o inmunodepresión, ya que tienen más riesgo de padecer enfermedad grave en caso de infección por coronavirus.
          </p>
          <label>Fuente:</label>
          <a href="https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html">
            https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html
          </a>
          <br>
          <p>
            <img src="../covid-19/assets/img/prevention.jpg">
            <label>Fuente: </label>
            <a href="https://plenainclusionmadrid.org/noticias/prevencion-coronavirus/">
              https://plenainclusionmadrid.org/noticias/prevencion-coronavirus/
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>