<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Propagación Global</a>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Cómo se reproduce COVID-19</h4>
        </div>
        <div class="d-flex justify-content-center">
          <p>
            <img src="../covid-19/assets/img/propagation.png" style="width: 500px; height: auto;">
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <label>Fuente: </label>      
          <a
            href="http://www.despertardelamontana.com/interesante/que-le-hace-el-jabon-al-virus-causante-de-la-covid-19-y-por-que-es-tan-efectivo-esto">
            http://www.despertardelamontana.com/interesante/que-le-hace-el-jabon-al-virus-causante-de-la-covid-19-y-por-que-es-tan-efectivo-esto
          </a>
        </div>
        <div class="card-header">
          <h4 class="card-title">Mapa propagación COVID-19. 16 de abril del 2020</h4>
        </div>
        <div class="d-flex justify-content-center">
          <p>
            <img src="../covid-19/assets/img/propagation1.png">
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <label>Fuente: </label>
          <a href="https://www.bbc.com/mundo/noticias-51705060">
            https://www.bbc.com/mundo/noticias-51705060
          </a>
        </div>
        <div class="card-header">
          <h4 class="card-title">Tabla propagación COVID-19. 16 de abril del 2020</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  País
                </th>
                <th class="text-right">
                  Casos
                </th>
                <th class="text-right">
                  Muertes
                </th>
              </thead>
              <tbody>
                <tr>
                <tr class="core__row" data-iso="USA">
                  <td class="core__region">
                    EE.UU.
                  </td>
                  <td class="text-right">
                    638.491
                  </td>
                  <td class="text-right">
                    30.926
                  </td>
                </tr>
                <tr class="core__row" data-iso="ESP">
                  <td class="core__region">
                    España
                  </td>
                  <td class="text-right">
                    182.816
                  </td>
                  <td class="text-right">
                    19.130
                  </td>
                </tr>
                <tr class="core__row" data-iso="ITA">
                  <td class="core__region">
                    Italia
                  </td>
                  <td class="text-right">
                    165.155
                  </td>
                  <td class="text-right">
                    21.645
                  </td>
                </tr>
                <tr class="core__row" data-iso="DEU">
                  <td class="core__region">
                    Alemania
                  </td>
                  <td class="text-right">
                    134.753
                  </td>
                  <td class="text-right">
                    3.804
                  </td>
                </tr>
                <tr class="core__row" data-iso="FRA">
                  <td class="core__region">
                    Francia
                  </td>
                  <td class="text-right">
                    133.470
                  </td>
                  <td class="text-right">
                    17.167
                  </td>
                </tr>
                <tr class="core__row" data-iso="GBR">
                  <td class="core__region">
                    Reino Unido
                  </td>
                  <td class="text-right">
                    103.093
                  </td>
                  <td class="text-right">
                    13.729
                  </td>
                </tr>
                <tr class="core__row" data-iso="CHN">
                  <td class="core__region">
                    China
                  </td>
                  <td class="text-right">
                    83.402
                  </td>
                  <td class="text-right">
                    3.346
                  </td>
                </tr>
                <tr class="core__row" data-iso="IRN">
                  <td class="core__region">
                    Irán
                  </td>
                  <td class="text-right">
                    77.995
                  </td>
                  <td class="text-right">
                    4.869
                  </td>
                </tr>
                <tr class="core__row" data-iso="TUR">
                  <td class="core__region">
                    Turquía
                  </td>
                  <td class="text-right">
                    69.392
                  </td>
                  <td class="text-right">
                    1.518
                  </td>
                </tr>
                <tr class="core__row" data-iso="BEL">
                  <td class="core__region">
                    Bélgica
                  </td>
                  <td class="text-right">
                    34.809
                  </td>
                  <td class="text-right">
                    4.857
                  </td>
                </tr>
                <tr class="core__row" data-iso="NLD">
                  <td class="core__region">
                    Holanda
                  </td>
                  <td class="text-right">
                    29.217
                  </td>
                  <td class="text-right">
                    3.315
                  </td>
                </tr>
                <tr class="core__row" data-iso="BRA">
                  <td class="core__region">
                    Brasil
                  </td>
                  <td class="text-right">
                    29.015
                  </td>
                  <td class="text-right">
                    1.760
                  </td>
                </tr>
                <tr class="core__row" data-iso="CAN">
                  <td class="core__region">
                    Canadá
                  </td>
                  <td class="text-right">
                    28.379
                  </td>
                  <td class="text-right">
                    1.010
                  </td>
                </tr>
                <tr class="core__row" data-iso="RUS">
                  <td class="core__region">
                    Rusia
                  </td>
                  <td class="text-right">
                    27.938
                  </td>
                  <td class="text-right">
                    232
                  </td>
                </tr>
                <tr class="core__row" data-iso="CHE">
                  <td class="core__region">
                    Suiza
                  </td>
                  <td class="text-right">
                    26.422
                  </td>
                  <td class="text-right">
                    1.269
                  </td>
                </tr>
                <tr class="core__row" data-iso="PRT">
                  <td class="core__region">
                    Portugal
                  </td>
                  <td class="text-right">
                    18.841
                  </td>
                  <td class="text-right">
                    629
                  </td>
                </tr>
                <tr class="core__row" data-iso="AUT">
                  <td class="core__region">
                    Austria
                  </td>
                  <td class="text-right">
                    14.412
                  </td>
                  <td class="text-right">
                    393
                  </td>
                </tr>
                <tr class="core__row" data-iso="ISR">
                  <td class="core__region">
                    Israel
                  </td>
                  <td class="text-right">
                    12.591
                  </td>
                  <td class="text-right">
                    140
                  </td>
                </tr>
                <tr class="core__row" data-iso="IRL">
                  <td class="core__region">
                    Irlanda
                  </td>
                  <td class="text-right">
                    12.547
                  </td>
                  <td class="text-right">
                    444
                  </td>
                </tr>
                <tr class="core__row" data-iso="SWE">
                  <td class="core__region">
                    Suecia
                  </td>
                  <td class="text-right">
                    12.540
                  </td>
                  <td class="text-right">
                    1.333
                  </td>
                </tr>
                <tr class="core__row" data-iso="IND">
                  <td class="core__region">
                    India
                  </td>
                  <td class="text-right">
                    12.456
                  </td>
                  <td class="text-right">
                    423
                  </td>
                </tr>
                <tr class="core__row" data-iso="PER">
                  <td class="core__region">
                    Perú
                  </td>
                  <td class="text-right">
                    11.475
                  </td>
                  <td class="text-right">
                    254
                  </td>
                </tr>
                <tr class="core__row" data-iso="KOR">
                  <td class="core__region">
                    Corea del Sur
                  </td>
                  <td class="text-right">
                    10.613
                  </td>
                  <td class="text-right">
                    229
                  </td>
                </tr>
                <tr class="core__row" data-iso="JPN">
                  <td class="core__region">
                    Japón
                  </td>
                  <td class="text-right">
                    8.626
                  </td>
                  <td class="text-right">
                    178
                  </td>
                </tr>
                <tr class="core__row" data-iso="CHL">
                  <td class="core__region">
                    Chile
                  </td>
                  <td class="text-right">
                    8.273
                  </td>
                  <td class="text-right">
                    94
                  </td>
                </tr>
                <tr class="core__row" data-iso="ECU">
                  <td class="core__region">
                    Ecuador
                  </td>
                  <td class="text-right">
                    7.858
                  </td>
                  <td class="text-right">
                    388
                  </td>
                </tr>
                <tr class="core__row" data-iso="POL">
                  <td class="core__region">
                    Polonia
                  </td>
                  <td class="text-right">
                    7.771
                  </td>
                  <td class="text-right">
                    292
                  </td>
                </tr>
                <tr class="core__row" data-iso="ROU">
                  <td class="core__region">
                    Rumania
                  </td>
                  <td class="text-right">
                    7.707
                  </td>
                  <td class="text-right">
                    392
                  </td>
                </tr>
                <tr class="core__row" data-iso="PAK">
                  <td class="core__region">
                    Pakistán
                  </td>
                  <td class="text-right">
                    6.919
                  </td>
                  <td class="text-right">
                    128
                  </td>
                </tr>
                <tr class="core__row" data-iso="DNK">
                  <td class="core__region">
                    Dinamarca
                  </td>
                  <td class="text-right">
                    6.879
                  </td>
                  <td class="text-right">
                    321
                  </td>
                </tr>
                <tr class="core__row" data-iso="NOR">
                  <td class="core__region">
                    Noruega
                  </td>
                  <td class="text-right">
                    6.798
                  </td>
                  <td class="text-right">
                    150
                  </td>
                </tr>
                <tr class="core__row" data-iso="AUS">
                  <td class="core__region">
                    Australia
                  </td>
                  <td class="text-right">
                    6.468
                  </td>
                  <td class="text-right">
                    63
                  </td>
                </tr>
                <tr class="core__row" data-iso="SAU">
                  <td class="core__region">
                    Arabia Saudita
                  </td>
                  <td class="text-right">
                    6.380
                  </td>
                  <td class="text-right">
                    83
                  </td>
                </tr>
                <tr class="core__row" data-iso="CZE">
                  <td class="core__region">
                    República Checa
                  </td>
                  <td class="text-right">
                    6.303
                  </td>
                  <td class="text-right">
                    166
                  </td>
                </tr>
                <tr class="core__row" data-iso="MEX">
                  <td class="core__region">
                    México
                  </td>
                  <td class="text-right">
                    5.847
                  </td>
                  <td class="text-right">
                    449
                  </td>
                </tr>
                <tr class="core__row" data-iso="PHL">
                  <td class="core__region">
                    Filipinas
                  </td>
                  <td class="text-right">
                    5.660
                  </td>
                  <td class="text-right">
                    362
                  </td>
                </tr>
                <tr class="core__row" data-iso="IDN">
                  <td class="core__region">
                    Indonesia
                  </td>
                  <td class="text-right">
                    5.516
                  </td>
                  <td class="text-right">
                    496
                  </td>
                </tr>
                <tr class="core__row" data-iso="ARE">
                  <td class="core__region">
                    Emiratos Árabes Unidos
                  </td>
                  <td class="text-right">
                    5.365
                  </td>
                  <td class="text-right">
                    33
                  </td>
                </tr>
                <tr class="core__row" data-iso="MYS">
                  <td class="core__region">
                    Malasia
                  </td>
                  <td class="text-right">
                    5.182
                  </td>
                  <td class="text-right">
                    84
                  </td>
                </tr>
                <tr class="core__row" data-iso="SRB">
                  <td class="core__region">
                    Serbia
                  </td>
                  <td class="text-right">
                    4.873
                  </td>
                  <td class="text-right">
                    99
                  </td>
                </tr>
                <tr class="core__row" data-iso="BLR">
                  <td class="core__region">
                    Bielorrusia
                  </td>
                  <td class="text-right">
                    4.204
                  </td>
                  <td class="text-right">
                    40
                  </td>
                </tr>
                <tr class="core__row" data-iso="UKR">
                  <td class="core__region">
                    Ucrania
                  </td>
                  <td class="text-right">
                    4.161
                  </td>
                  <td class="text-right">
                    116
                  </td>
                </tr>
                <tr class="core__row" data-iso="QAT">
                  <td class="core__region">
                    Qatar
                  </td>
                  <td class="text-right">
                    4.103
                  </td>
                  <td class="text-right">
                    7
                  </td>
                </tr>
                <tr class="core__row" data-iso="PAN">
                  <td class="core__region">
                    Panamá
                  </td>
                  <td class="text-right">
                    3.751
                  </td>
                  <td class="text-right">
                    103
                  </td>
                </tr>
                <tr class="core__row" data-iso="SGP">
                  <td class="core__region">
                    Singapur
                  </td>
                  <td class="text-right">
                    3.699
                  </td>
                  <td class="text-right">
                    10
                  </td>
                </tr>
                <tr class="core__row" data-iso="DOM">
                  <td class="core__region">
                    República Dominicana
                  </td>
                  <td class="text-right">
                    3.614
                  </td>
                  <td class="text-right">
                    189
                  </td>
                </tr>
                <tr class="core__row" data-iso="LUX">
                  <td class="core__region">
                    Luxemburgo
                  </td>
                  <td class="text-right">
                    3.373
                  </td>
                  <td class="text-right">
                    69
                  </td>
                </tr>
                <tr class="core__row" data-iso="FIN">
                  <td class="core__region">
                    Finlandia
                  </td>
                  <td class="text-right">
                    3.369
                  </td>
                  <td class="text-right">
                    72
                  </td>
                </tr>
                <tr class="core__row" data-iso="COL">
                  <td class="core__region">
                    Colombia
                  </td>
                  <td class="text-right">
                    3.105
                  </td>
                  <td class="text-right">
                    131
                  </td>
                </tr>
                <tr class="core__row" data-iso="THA">
                  <td class="core__region">
                    Tailandia
                  </td>
                  <td class="text-right">
                    2.672
                  </td>
                  <td class="text-right">
                    46
                  </td>
                </tr>
                <tr class="core__row" data-iso="ARG">
                  <td class="core__region">
                    Argentina
                  </td>
                  <td class="text-right">
                    2.571
                  </td>
                  <td class="text-right">
                    115
                  </td>
                </tr>
                <tr class="core__row" data-iso="ZAF">
                  <td class="core__region">
                    Sudáfrica
                  </td>
                  <td class="text-right">
                    2.506
                  </td>
                  <td class="text-right">
                    34
                  </td>
                </tr>
                <tr class="core__row" data-iso="EGY">
                  <td class="core__region">
                    Egipto
                  </td>
                  <td class="text-right">
                    2.505
                  </td>
                  <td class="text-right">
                    183
                  </td>
                </tr>
                <tr class="core__row" data-iso="MAR">
                  <td class="core__region">
                    Marruecos
                  </td>
                  <td class="text-right">
                    2.251
                  </td>
                  <td class="text-right">
                    128
                  </td>
                </tr>
                <tr class="core__row" data-iso="GRC">
                  <td class="core__region">
                    Grecia
                  </td>
                  <td class="text-right">
                    2.192
                  </td>
                  <td class="text-right">
                    102
                  </td>
                </tr>
                <tr class="core__row" data-iso="DZA">
                  <td class="core__region">
                    Argelia
                  </td>
                  <td class="text-right">
                    2.160
                  </td>
                  <td class="text-right">
                    336
                  </td>
                </tr>
                <tr class="core__row" data-iso="MDA">
                  <td class="core__region">
                    Moldavia
                  </td>
                  <td class="text-right">
                    2.049
                  </td>
                  <td class="text-right">
                    51
                  </td>
                </tr>
                <tr class="core__row" data-iso="HRV">
                  <td class="core__region">
                    Croacia
                  </td>
                  <td class="text-right">
                    1.791
                  </td>
                  <td class="text-right">
                    35
                  </td>
                </tr>
                <tr class="core__row" data-iso="ISL">
                  <td class="core__region">
                    Islandia
                  </td>
                  <td class="text-right">
                    1.727
                  </td>
                  <td class="text-right">
                    8
                  </td>
                </tr>
                <tr class="core__row" data-iso="BHR">
                  <td class="core__region">
                    Bahréin
                  </td>
                  <td class="text-right">
                    1.698
                  </td>
                  <td class="text-right">
                    7
                  </td>
                </tr>
                <tr class="core__row" data-iso="HUN">
                  <td class="core__region">
                    Hungría
                  </td>
                  <td class="text-right">
                    1.652
                  </td>
                  <td class="text-right">
                    142
                  </td>
                </tr>
                <tr class="core__row" data-iso="BGD">
                  <td class="core__region">
                    Bangladesh
                  </td>
                  <td class="text-right">
                    1.572
                  </td>
                  <td class="text-right">
                    60
                  </td>
                </tr>
                <tr class="core__row" data-iso="KWT">
                  <td class="core__region">
                    Kuwait
                  </td>
                  <td class="text-right">
                    1.524
                  </td>
                  <td class="text-right">
                    3
                  </td>
                </tr>
                <tr class="core__row" data-iso="EST">
                  <td class="core__region">
                    Estonia
                  </td>
                  <td class="text-right">
                    1.434
                  </td>
                  <td class="text-right">
                    36
                  </td>
                </tr>
                <tr class="core__row" data-iso="IRQ">
                  <td class="core__region">
                    Irak
                  </td>
                  <td class="text-right">
                    1.415
                  </td>
                  <td class="text-right">
                    79
                  </td>
                </tr>
                <tr class="core__row" data-iso="NZL">
                  <td class="core__region">
                    Nueva Zelanda
                  </td>
                  <td class="text-right">
                    1.401
                  </td>
                  <td class="text-right">
                    9
                  </td>
                </tr>
                <tr class="core__row" data-iso="KAZ">
                  <td class="core__region">
                    Kazajistán
                  </td>
                  <td class="text-right">
                    1.362
                  </td>
                  <td class="text-right">
                    17
                  </td>
                </tr>
                <tr class="core__row" data-iso="UZB">
                  <td class="core__region">
                    Uzbekistán
                  </td>
                  <td class="text-right">
                    1.349
                  </td>
                  <td class="text-right">
                    4
                  </td>
                </tr>
                <tr class="core__row" data-iso="SVN">
                  <td class="core__region">
                    Eslovenia
                  </td>
                  <td class="text-right">
                    1.268
                  </td>
                  <td class="text-right">
                    61
                  </td>
                </tr>
                <tr class="core__row" data-iso="AZE">
                  <td class="core__region">
                    Azerbaiyán
                  </td>
                  <td class="text-right">
                    1.253
                  </td>
                  <td class="text-right">
                    13
                  </td>
                </tr>
                <tr class="core__row" data-iso="BIH">
                  <td class="core__region">
                    Bosnia y Herzegovina
                  </td>
                  <td class="text-right">
                    1.167
                  </td>
                  <td class="text-right">
                    43
                  </td>
                </tr>
                <tr class="core__row" data-iso="ARM">
                  <td class="core__region">
                    Armenia
                  </td>
                  <td class="text-right">
                    1.159
                  </td>
                  <td class="text-right">
                    18
                  </td>
                </tr>
                <tr class="core__row" data-iso="LTU">
                  <td class="core__region">
                    Lituania
                  </td>
                  <td class="text-right">
                    1.128
                  </td>
                  <td class="text-right">
                    30
                  </td>
                </tr>
                <tr class="core__row" data-iso="PRI">
                  <td class="core__region">
                    Puerto Rico
                  </td>
                  <td class="text-right">
                    1.043
                  </td>
                  <td class="text-right">
                    56
                  </td>
                </tr>
                <tr class="core__row" data-iso="OMN">
                  <td class="core__region">
                    Omán
                  </td>
                  <td class="text-right">
                    1.019
                  </td>
                  <td class="text-right">
                    4
                  </td>
                </tr>
                <tr class="core__row" data-iso="SVK">
                  <td class="core__region">
                    Eslovaquia
                  </td>
                  <td class="text-right">
                    977
                  </td>
                  <td class="text-right">
                    8
                  </td>
                </tr>
                <tr class="core__row" data-iso="MKD">
                  <td class="core__region">
                    Macedonia del Norte
                  </td>
                  <td class="text-right">
                    974
                  </td>
                  <td class="text-right">
                    45
                  </td>
                </tr>
                <tr class="core__row" data-iso="CMR">
                  <td class="core__region">
                    Camerún
                  </td>
                  <td class="text-right">
                    848
                  </td>
                  <td class="text-right">
                    17
                  </td>
                </tr>
                <tr class="core__row" data-iso="AFG">
                  <td class="core__region">
                    Afganistán
                  </td>
                  <td class="text-right">
                    840
                  </td>
                  <td class="text-right">
                    30
                  </td>
                </tr>
                <tr class="core__row" data-iso="CUB">
                  <td class="core__region">
                    Cuba
                  </td>
                  <td class="text-right">
                    814
                  </td>
                  <td class="text-right">
                    24
                  </td>
                </tr>
                <tr class="core__row" data-iso="BGR">
                  <td class="core__region">
                    Bulgaria
                  </td>
                  <td class="text-right">
                    783
                  </td>
                  <td class="text-right">
                    37
                  </td>
                </tr>
                <tr class="core__row" data-iso="TUN">
                  <td class="core__region">
                    Túnez
                  </td>
                  <td class="text-right">
                    780
                  </td>
                  <td class="text-right">
                    35
                  </td>
                </tr>
                <tr class="core__row" data-iso="CYP">
                  <td class="core__region">
                    Chipre
                  </td>
                  <td class="text-right">
                    715
                  </td>
                  <td class="text-right">
                    12
                  </td>
                </tr>
                <tr class="core__row" data-iso="CS1">
                  <td class="core__region">
                    Crucero Diamond Princess
                  </td>
                  <td class="text-right">
                    712
                  </td>
                  <td class="text-right">
                    12
                  </td>
                </tr>
                <tr class="core__row" data-iso="LVA">
                  <td class="core__region">
                    Letonia
                  </td>
                  <td class="text-right">
                    675
                  </td>
                  <td class="text-right">
                    5
                  </td>
                </tr>
                <tr class="core__row" data-iso="AND">
                  <td class="core__region">
                    Andorra
                  </td>
                  <td class="text-right">
                    673
                  </td>
                  <td class="text-right">
                    33
                  </td>
                </tr>
                <tr class="core__row" data-iso="LBN">
                  <td class="core__region">
                    Líbano
                  </td>
                  <td class="text-right">
                    663
                  </td>
                  <td class="text-right">
                    21
                  </td>
                </tr>
                <tr class="core__row" data-iso="CIV">
                  <td class="core__region">
                    Costa de Marfil
                  </td>
                  <td class="text-right">
                    654
                  </td>
                  <td class="text-right">
                    6
                  </td>
                </tr>
                <tr class="core__row" data-iso="GHA">
                  <td class="core__region">
                    Ghana
                  </td>
                  <td class="text-right">
                    641
                  </td>
                  <td class="text-right">
                    8
                  </td>
                </tr>
                <tr class="core__row" data-iso="CRI">
                  <td class="core__region">
                    Costa Rica
                  </td>
                  <td class="text-right">
                    626
                  </td>
                  <td class="text-right">
                    4
                  </td>
                </tr>
                <tr class="core__row" data-iso="NER">
                  <td class="core__region">
                    Níger
                  </td>
                  <td class="text-right">
                    584
                  </td>
                  <td class="text-right">
                    14
                  </td>
                </tr>
                <tr class="core__row" data-iso="BFA">
                  <td class="core__region">
                    Burkina Faso
                  </td>
                  <td class="text-right">
                    542
                  </td>
                  <td class="text-right">
                    32
                  </td>
                </tr>
                <tr class="core__row" data-iso="ALB">
                  <td class="core__region">
                    Albania
                  </td>
                  <td class="text-right">
                    518
                  </td>
                  <td class="text-right">
                    26
                  </td>
                </tr>
                <tr class="core__row" data-iso="URY">
                  <td class="core__region">
                    Uruguay
                  </td>
                  <td class="text-right">
                    493
                  </td>
                  <td class="text-right">
                    9
                  </td>
                </tr>
                <tr class="core__row" data-iso="KGZ">
                  <td class="core__region">
                    Kirguistán
                  </td>
                  <td class="text-right">
                    466
                  </td>
                  <td class="text-right">
                    5
                  </td>
                </tr>
                <tr class="core__row" data-iso="BOL">
                  <td class="core__region">
                    Bolivia
                  </td>
                  <td class="text-right">
                    441
                  </td>
                  <td class="text-right">
                    29
                  </td>
                </tr>
                <tr class="core__row" data-iso="DJI">
                  <td class="core__region">
                    Yibuti
                  </td>
                  <td class="text-right">
                    435
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="HND">
                  <td class="core__region">
                    Honduras
                  </td>
                  <td class="text-right">
                    426
                  </td>
                  <td class="text-right">
                    35
                  </td>
                </tr>
                <tr class="core__row" data-iso="MLT">
                  <td class="core__region">
                    Malta
                  </td>
                  <td class="text-right">
                    412
                  </td>
                  <td class="text-right">
                    3
                  </td>
                </tr>
                <tr class="core__row" data-iso="NGA">
                  <td class="core__region">
                    Nigeria
                  </td>
                  <td class="text-right">
                    407
                  </td>
                  <td class="text-right">
                    12
                  </td>
                </tr>
                <tr class="core__row" data-iso="GIN">
                  <td class="core__region">
                    Guinea
                  </td>
                  <td class="text-right">
                    404
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="JOR">
                  <td class="core__region">
                    Jordan
                  </td>
                  <td class="text-right">
                    401
                  </td>
                  <td class="text-right">
                    7
                  </td>
                </tr>
                <tr class="core__row" data-iso="TWN">
                  <td class="core__region">
                    Taiwán
                  </td>
                  <td class="text-right">
                    395
                  </td>
                  <td class="text-right">
                    6
                  </td>
                </tr>
                <tr class="core__row" data-iso="SMR">
                  <td class="core__region">
                    San Marino
                  </td>
                  <td class="text-right">
                    393
                  </td>
                  <td class="text-right">
                    36
                  </td>
                </tr>
                <tr class="core__row" data-iso="REU">
                  <td class="core__region">
                    Reunión
                  </td>
                  <td class="text-right">
                    391
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="XKX">
                  <td class="core__region">
                    Kosovo
                  </td>
                  <td class="text-right">
                    387
                  </td>
                  <td class="text-right">
                    8
                  </td>
                </tr>
                <tr class="core__row" data-iso="PSE">
                  <td class="core__region">
                    Territorios Palestinos
                  </td>
                  <td class="text-right">
                    374
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="GEO">
                  <td class="core__region">
                    Georgia
                  </td>
                  <td class="text-right">
                    336
                  </td>
                  <td class="text-right">
                    3
                  </td>
                </tr>
                <tr class="core__row" data-iso="MUS">
                  <td class="core__region">
                    Mauricio
                  </td>
                  <td class="text-right">
                    324
                  </td>
                  <td class="text-right">
                    9
                  </td>
                </tr>
                <tr class="core__row" data-iso="SEN">
                  <td class="core__region">
                    Senegal
                  </td>
                  <td class="text-right">
                    314
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="MNE">
                  <td class="core__region">
                    Montenegro
                  </td>
                  <td class="text-right">
                    290
                  </td>
                  <td class="text-right">
                    4
                  </td>
                </tr>
                <tr class="core__row" data-iso="IMN">
                  <td class="core__region">
                    Isla de Man
                  </td>
                  <td class="text-right">
                    283
                  </td>
                  <td class="text-right">
                    4
                  </td>
                </tr>
                <tr class="core__row" data-iso="VNM">
                  <td class="core__region">
                    Vietnam
                  </td>
                  <td class="text-right">
                    268
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="COD">
                  <td class="core__region">
                    República Democrática del Congo
                  </td>
                  <td class="text-right">
                    267
                  </td>
                  <td class="text-right">
                    22
                  </td>
                </tr>
                <tr class="core__row" data-iso="LKA">
                  <td class="core__region">
                    Sri Lanka
                  </td>
                  <td class="text-right">
                    238
                  </td>
                  <td class="text-right">
                    7
                  </td>
                </tr>
                <tr class="core__row" data-iso="MYT">
                  <td class="core__region">
                    Mayotte
                  </td>
                  <td class="text-right">
                    233
                  </td>
                  <td class="text-right">
                    3
                  </td>
                </tr>
                <tr class="core__row" data-iso="GGY">
                  <td class="core__region">
                    Guernsey
                  </td>
                  <td class="text-right">
                    228
                  </td>
                  <td class="text-right">
                    8
                  </td>
                </tr>
                <tr class="core__row" data-iso="KEN">
                  <td class="core__region">
                    Kenia
                  </td>
                  <td class="text-right">
                    225
                  </td>
                  <td class="text-right">
                    10
                  </td>
                </tr>
                <tr class="core__row" data-iso="JEY">
                  <td class="core__region">
                    Isla de Jersey
                  </td>
                  <td class="text-right">
                    219
                  </td>
                  <td class="text-right">
                    7
                  </td>
                </tr>
                <tr class="core__row" data-iso="VEN">
                  <td class="core__region">
                    Venezuela
                  </td>
                  <td class="text-right">
                    197
                  </td>
                  <td class="text-right">
                    9
                  </td>
                </tr>
                <tr class="core__row" data-iso="GTM">
                  <td class="core__region">
                    Guatemala
                  </td>
                  <td class="text-right">
                    196
                  </td>
                  <td class="text-right">
                    5
                  </td>
                </tr>
                <tr class="core__row" data-iso="FRO">
                  <td class="core__region">
                    Islas Feroe
                  </td>
                  <td class="text-right">
                    184
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="PRY">
                  <td class="core__region">
                    Paraguay
                  </td>
                  <td class="text-right">
                    174
                  </td>
                  <td class="text-right">
                    8
                  </td>
                </tr>
                <tr class="core__row" data-iso="SLV">
                  <td class="core__region">
                    El Salvador
                  </td>
                  <td class="text-right">
                    164
                  </td>
                  <td class="text-right">
                    6
                  </td>
                </tr>
                <tr class="core__row" data-iso="MTQ">
                  <td class="core__region">
                    Martinica
                  </td>
                  <td class="text-right">
                    158
                  </td>
                  <td class="text-right">
                    8
                  </td>
                </tr>
                <tr class="core__row" data-iso="MLI">
                  <td class="core__region">
                    Mali
                  </td>
                  <td class="text-right">
                    148
                  </td>
                  <td class="text-right">
                    13
                  </td>
                </tr>
                <tr class="core__row" data-iso="GLP">
                  <td class="core__region">
                    Guadalupe
                  </td>
                  <td class="text-right">
                    145
                  </td>
                  <td class="text-right">
                    8
                  </td>
                </tr>
                <tr class="core__row" data-iso="RWA">
                  <td class="core__region">
                    Ruanda
                  </td>
                  <td class="text-right">
                    136
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="BRN">
                  <td class="core__region">
                    Brunéi
                  </td>
                  <td class="text-right">
                    136
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="GUM">
                  <td class="core__region">
                    Guam
                  </td>
                  <td class="text-right">
                    135
                  </td>
                  <td class="text-right">
                    5
                  </td>
                </tr>
                <tr class="core__row" data-iso="GIB">
                  <td class="core__region">
                    Gibraltar
                  </td>
                  <td class="text-right">
                    131
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="JAM">
                  <td class="core__region">
                    Jamaica
                  </td>
                  <td class="text-right">
                    125
                  </td>
                  <td class="text-right">
                    5
                  </td>
                </tr>
                <tr class="core__row" data-iso="KHM">
                  <td class="core__region">
                    Camboya
                  </td>
                  <td class="text-right">
                    122
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="COG">
                  <td class="core__region">
                    Congo
                  </td>
                  <td class="text-right">
                    117
                  </td>
                  <td class="text-right">
                    5
                  </td>
                </tr>
                <tr class="core__row" data-iso="TTO">
                  <td class="core__region">
                    Trinidad y Tobago
                  </td>
                  <td class="text-right">
                    114
                  </td>
                  <td class="text-right">
                    8
                  </td>
                </tr>
                <tr class="core__row" data-iso="MDG">
                  <td class="core__region">
                    Madagascar
                  </td>
                  <td class="text-right">
                    111
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="TZA">
                  <td class="core__region">
                    Tanzania
                  </td>
                  <td class="text-right">
                    94
                  </td>
                  <td class="text-right">
                    4
                  </td>
                </tr>
                <tr class="core__row" data-iso="MCO">
                  <td class="core__region">
                    Mónaco
                  </td>
                  <td class="text-right">
                    93
                  </td>
                  <td class="text-right">
                    3
                  </td>
                </tr>
                <tr class="core__row" data-iso="ABW">
                  <td class="core__region">
                    Aruba
                  </td>
                  <td class="text-right">
                    93
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="ETH">
                  <td class="core__region">
                    Etiopía
                  </td>
                  <td class="text-right">
                    92
                  </td>
                  <td class="text-right">
                    3
                  </td>
                </tr>
                <tr class="core__row" data-iso="GUF">
                  <td class="core__region">
                    Guayana Francesa
                  </td>
                  <td class="text-right">
                    86
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="MMR">
                  <td class="core__region">
                    Myanmar
                  </td>
                  <td class="text-right">
                    85
                  </td>
                  <td class="text-right">
                    4
                  </td>
                </tr>
                <tr class="core__row" data-iso="TGO">
                  <td class="core__region">
                    Togo
                  </td>
                  <td class="text-right">
                    81
                  </td>
                  <td class="text-right">
                    3
                  </td>
                </tr>
                <tr class="core__row" data-iso="BMU">
                  <td class="core__region">
                    Bermudas
                  </td>
                  <td class="text-right">
                    81
                  </td>
                  <td class="text-right">
                    5
                  </td>
                </tr>
                <tr class="core__row" data-iso="GAB">
                  <td class="core__region">
                    Gabón
                  </td>
                  <td class="text-right">
                    80
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="SOM">
                  <td class="core__region">
                    Somalia
                  </td>
                  <td class="text-right">
                    80
                  </td>
                  <td class="text-right">
                    5
                  </td>
                </tr>
                <tr class="core__row" data-iso="LIE">
                  <td class="core__region">
                    Liechtenstein
                  </td>
                  <td class="text-right">
                    79
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="BRB">
                  <td class="core__region">
                    Barbados
                  </td>
                  <td class="text-right">
                    75
                  </td>
                  <td class="text-right">
                    5
                  </td>
                </tr>
                <tr class="core__row" data-iso="CYM">
                  <td class="core__region">
                    Islas Caimán
                  </td>
                  <td class="text-right">
                    60
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="LBR">
                  <td class="core__region">
                    Liberia
                  </td>
                  <td class="text-right">
                    59
                  </td>
                  <td class="text-right">
                    6
                  </td>
                </tr>
                <tr class="core__row" data-iso="SXM">
                  <td class="core__region">
                    Antillas Holandesas
                  </td>
                  <td class="text-right">
                    57
                  </td>
                  <td class="text-right">
                    9
                  </td>
                </tr>
                <tr class="core__row" data-iso="CPV">
                  <td class="core__region">
                    Cabo Verde
                  </td>
                  <td class="text-right">
                    56
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="GUY">
                  <td class="core__region">
                    Guyana
                  </td>
                  <td class="text-right">
                    55
                  </td>
                  <td class="text-right">
                    6
                  </td>
                </tr>
                <tr class="core__row" data-iso="PYF">
                  <td class="core__region">
                    Polinesia Francesa
                  </td>
                  <td class="text-right">
                    55
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="UGA">
                  <td class="core__region">
                    Uganda
                  </td>
                  <td class="text-right">
                    55
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="BHS">
                  <td class="core__region">
                    Bahamas
                  </td>
                  <td class="text-right">
                    53
                  </td>
                  <td class="text-right">
                    8
                  </td>
                </tr>
                <tr class="core__row" data-iso="GNQ">
                  <td class="core__region">
                    Guinea Ecuatorial
                  </td>
                  <td class="text-right">
                    51
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="VIR">
                  <td class="core__region">
                    Islas Vírgenes Estadounidenses
                  </td>
                  <td class="text-right">
                    51
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="LBY">
                  <td class="core__region">
                    Libia
                  </td>
                  <td class="text-right">
                    48
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="ZMB">
                  <td class="core__region">
                    Zambia
                  </td>
                  <td class="text-right">
                    48
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="GNB">
                  <td class="core__region">
                    Guinea-Bissau
                  </td>
                  <td class="text-right">
                    43
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="HTI">
                  <td class="core__region">
                    Haití
                  </td>
                  <td class="text-right">
                    41
                  </td>
                  <td class="text-right">
                    3
                  </td>
                </tr>
                <tr class="core__row" data-iso="MAF">
                  <td class="core__region">
                    Isla de San Martín
                  </td>
                  <td class="text-right">
                    35
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="BEN">
                  <td class="core__region">
                    Benín
                  </td>
                  <td class="text-right">
                    35
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="ERI">
                  <td class="core__region">
                    Eritrea
                  </td>
                  <td class="text-right">
                    35
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="SYR">
                  <td class="core__region">
                    Siria
                  </td>
                  <td class="text-right">
                    33
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="SDN">
                  <td class="core__region">
                    Sudán
                  </td>
                  <td class="text-right">
                    32
                  </td>
                  <td class="text-right">
                    5
                  </td>
                </tr>
                <tr class="core__row" data-iso="MNG">
                  <td class="core__region">
                    Mongolia
                  </td>
                  <td class="text-right">
                    31
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="MOZ">
                  <td class="core__region">
                    Mozambique
                  </td>
                  <td class="text-right">
                    29
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="TCD">
                  <td class="core__region">
                    Chad
                  </td>
                  <td class="text-right">
                    27
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="MDV">
                  <td class="core__region">
                    Maldivas
                  </td>
                  <td class="text-right">
                    23
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="ZWE">
                  <td class="core__region">
                    Zimbabue
                  </td>
                  <td class="text-right">
                    23
                  </td>
                  <td class="text-right">
                    3
                  </td>
                </tr>
                <tr class="core__row" data-iso="ATG">
                  <td class="core__region">
                    Antigua y Barbuda
                  </td>
                  <td class="text-right">
                    23
                  </td>
                  <td class="text-right">
                    3
                  </td>
                </tr>
                <tr class="core__row" data-iso="AGO">
                  <td class="core__region">
                    Angola
                  </td>
                  <td class="text-right">
                    19
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="LAO">
                  <td class="core__region">
                    Laos
                  </td>
                  <td class="text-right">
                    19
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="BLZ">
                  <td class="core__region">
                    Belice
                  </td>
                  <td class="text-right">
                    18
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="TLS">
                  <td class="core__region">
                    Timor Oriental
                  </td>
                  <td class="text-right">
                    18
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="NCL">
                  <td class="core__region">
                    Nueva Caledonia
                  </td>
                  <td class="text-right">
                    18
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="FJI">
                  <td class="core__region">
                    Fiyi
                  </td>
                  <td class="text-right">
                    17
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="NPL">
                  <td class="core__region">
                    Nepal
                  </td>
                  <td class="text-right">
                    16
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="DMA">
                  <td class="core__region">
                    Dominica
                  </td>
                  <td class="text-right">
                    16
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="SWZ">
                  <td class="core__region">
                    Esuatini
                  </td>
                  <td class="text-right">
                    16
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="MWI">
                  <td class="core__region">
                    Malawi
                  </td>
                  <td class="text-right">
                    16
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="NAM">
                  <td class="core__region">
                    Namibia
                  </td>
                  <td class="text-right">
                    16
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="LCA">
                  <td class="core__region">
                    Santa Lucía
                  </td>
                  <td class="text-right">
                    15
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="BWA">
                  <td class="core__region">
                    Botsuana
                  </td>
                  <td class="text-right">
                    15
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="SLE">
                  <td class="core__region">
                    Sierra Leona
                  </td>
                  <td class="text-right">
                    15
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="KNA">
                  <td class="core__region">
                    San Cristóbal y Nieves
                  </td>
                  <td class="text-right">
                    14
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="CUW">
                  <td class="core__region">
                    Antillas Holandesas
                  </td>
                  <td class="text-right">
                    14
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="GRD">
                  <td class="core__region">
                    Granada
                  </td>
                  <td class="text-right">
                    14
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="MNP">
                  <td class="core__region">
                    Islas Marianas del Norte
                  </td>
                  <td class="text-right">
                    13
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="CAF">
                  <td class="core__region">
                    República Centroafricana
                  </td>
                  <td class="text-right">
                    12
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="VCT">
                  <td class="core__region">
                    San Vicente y las Granadinas
                  </td>
                  <td class="text-right">
                    12
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="MSR">
                  <td class="core__region">
                    Montserrat
                  </td>
                  <td class="text-right">
                    11
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="GRL">
                  <td class="core__region">
                    Groenlandia
                  </td>
                  <td class="text-right">
                    11
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="SYC">
                  <td class="core__region">
                    Seychelles
                  </td>
                  <td class="text-right">
                    11
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="FLK">
                  <td class="core__region">
                    Islas Malvinas o Falkland
                  </td>
                  <td class="text-right">
                    11
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="SUR">
                  <td class="core__region">
                    Surinam
                  </td>
                  <td class="text-right">
                    10
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="TCA">
                  <td class="core__region">
                    Islas Turcas y Caicos
                  </td>
                  <td class="text-right">
                    10
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="CS2">
                  <td class="core__region">
                    Crucero MS Zaandam
                  </td>
                  <td class="text-right">
                    9
                  </td>
                  <td class="text-right">
                    2
                  </td>
                </tr>
                <tr class="core__row" data-iso="NIC">
                  <td class="core__region">
                    Nicaragua
                  </td>
                  <td class="text-right">
                    9
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="GMB">
                  <td class="core__region">
                    Gambia
                  </td>
                  <td class="text-right">
                    9
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="VAT">
                  <td class="core__region">
                    Vaticano
                  </td>
                  <td class="text-right">
                    8
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="MRT">
                  <td class="core__region">
                    Mauritania
                  </td>
                  <td class="text-right">
                    7
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="BLM">
                  <td class="core__region">
                    San Bartolomé
                  </td>
                  <td class="text-right">
                    6
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="ESH">
                  <td class="core__region">
                    Sahara Occidental
                  </td>
                  <td class="text-right">
                    6
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="BDI">
                  <td class="core__region">
                    Burundi
                  </td>
                  <td class="text-right">
                    5
                  </td>
                  <td class="text-right">
                    1
                  </td>
                </tr>
                <tr class="core__row" data-iso="BTN">
                  <td class="core__region">
                    Bhután
                  </td>
                  <td class="text-right">
                    5
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="SSD">
                  <td class="core__region">
                    Sudán del Sur
                  </td>
                  <td class="text-right">
                    4
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="STP">
                  <td class="core__region">
                    Santo Tomé y Príncipe
                  </td>
                  <td class="text-right">
                    4
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="VGB">
                  <td class="core__region">
                    Islas Vírgenes Británicas
                  </td>
                  <td class="text-right">
                    3
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="AIA">
                  <td class="core__region">
                    Anguila
                  </td>
                  <td class="text-right">
                    3
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="PNG">
                  <td class="core__region">
                    Papúa Nueva Guinea
                  </td>
                  <td class="text-right">
                    2
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="YEM">
                  <td class="core__region">
                    Yemen
                  </td>
                  <td class="text-right">
                    1
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
                <tr class="core__row" data-iso="SPM">
                  <td class="core__region">
                    San Pedro y Miquelón
                  </td>
                  <td class="text-right">
                    1
                  </td>
                  <td class="text-right">

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <label>Fuente:</label>
        <a href="https://www.bbc.com/mundo/noticias-51705060">
          https://www.bbc.com/mundo/noticias-51705060
        </a>
      </div>
    </div>
  </div>
</div>