<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Referencias Bibliográficas</a>
    </div>
  </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <br>
        <ul>
          <li>
            <a href="https://www.who.int/es/health-topics/coronavirus">
              https://www.who.int/es/health-topics/coronavirus
            </a>
          </li>
          <br>
          <li>
            <a href="https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html#causas">
              https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html#causas
            </a>
          </li>
          <br>
          <li>
            <a href="https://espanol.cdc.gov/enes/coronavirus/2019-ncov/index.html">
              https://espanol.cdc.gov/enes/coronavirus/2019-ncov/index.html
            </a>
          </li>
          <br>
          <li>
            <a href="https://www.minsalud.gov.co/salud/publica/PET/Paginas/Covid-19_copia.aspx">
              https://www.minsalud.gov.co/salud/publica/PET/Paginas/Covid-19_copia.aspx
            </a>
          </li>
          <br>
          <li>
            <a href="https://www.bbc.com/mundo/noticias-52083993">
              https://www.bbc.com/mundo/noticias-52083993
            </a>
          </li>
          <br>
          <li>
            <a href="https://www.google.com/covid19-map/">
              https://www.google.com/covid19-map/
            </a>
          </li>
          <br>
          <li>
            <a
              href="https://www.semana.com/mundo/articulo/coronavirus-cuales-son-los-4-tratamientos-que-la-oms-estudia-para-combatir-el-covid-19/658718">
              https://www.semana.com/mundo/articulo/coronavirus-cuales-son-los-4-tratamientos-que-la-oms-estudia-para-combatir-el-covid-19/658718
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>