<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Estadísticas</a>
    </div>
    <p>Algunos casos confirmados por país</p>
  </div>
</nav>
<!-- Navbar -->
<!-- End Navbar -->
<div class="panel-header panel-header-lg">
  <canvas id="bigDashboardChart"></canvas>
</div>
<div class="content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Gráficos y estadísticas del coronavirus (COVID-19)</h5>
          <h4 class="card-title">Total Confirmados</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="lineChartExample"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> 16 de Abril de 2020<br>
            <label>Fuente:</label>
            <a href="https://es.tradingview.com/covid19/">https://es.tradingview.com/covid19/</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Gráficos y estadísticas del coronavirus (COVID-19)</h5>
          <h4 class="card-title">Total Recuperados</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> 16 de Abril de 2020<br>
            <label>Fuente:</label>
            <a href="https://es.tradingview.com/covid19/">https://es.tradingview.com/covid19/</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Gráficos y estadísticas del coronavirus (COVID-19)</h5>
          <h4 class="card-title">Total Fallecimientos</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="barChartSimpleGradientsNumbers"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> 16 de Abril de 2020<br>
            <label>Fuente:</label>
            <a href="https://es.tradingview.com/covid19/">https://es.tradingview.com/covid19/</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>