<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Síntomas</a>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header">
  <div class="header text-center">
    <h5 class="title">"La imaginación es la mitad de la enfermedad. La tranquilidad es la mitad del remedio y la
      paciencia es el comienzo de la cura".</h5>
    <p class="category">Ibn Sina</p>
  </div>
</div>
<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado síntomas para COVID-19</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="alert alert-info">
              <span>Tos seca</span>
            </div>
            <div class="alert alert-info">
              <span>Fiebre (mayores a 37.5° por más de 3 días)</span>
            </div>
            <div class="alert alert-info">
              <span>Cansancio (malestar general)</span>
            </div>
            <div class="alert alert-info">
              <span>Congestión Nasal</span>
            </div>
            <div class="alert alert-info">
              <span>Secreción Nasal</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="alert alert-info">
              <span>Dolor de garganta</span>
            </div>
            <div class="alert alert-info">
              <span>Diarrea</span>
            </div>
            <div class="alert alert-info">
              <span>Fatiga</span>
            </div>
            <div class="alert alert-info">
              <span>Dificultad para respirar</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>