<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Tratamientos</a>
    </div>
  </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">"La vacuna contra el coronavirus eres tú, somos todos. ¡Quédate en casa!".</h5>
          <p class="category">Ignacio López-Goñi
          </p>
          <p style="text-align: justify;">
            No existe una vacuna contra el coronavirus humano que causa resfriado, pero los casos más leves pueden
            superarse siguiendo los mismos pasos que un catarro común. Esto no requiere intervención médica y
            simplemente con lavarse las manos de forma frecuente, guardar reposo y beber líquidos de forma abundante los
            síntomas desaparecerán a los pocos días. También se pueden tomar analgésicos como ibuprofeno o paracetamol
            para aliviar dolores de garganta o fiebre.
          </p>
          <p style="text-align: justify;">
            En casos de coronavirus SRAS, MERS CoV y COVID-19, suele ser conveniente el ingreso hospitalario en los
            casos graves. En los casos que los médicos lo consideran necesario, se administran antivirales, dosis altas
            de esteroides para reducir la inflamación pulmonar y un soporte respiratorio con oxígeno; en ocasiones puede
            precisar antibióticos, pero solo en caso de que existan infecciones bacterianas sobrevenidas, es decir,
            sobreinfección.
          </p>
          <p style="text-align: justify;">
            En resumen, este tipo de infecciones respiratorias se tratan con antivirales (según el criterio del
            profesional sanitario) y medidas de soporte. El tratamiento se suele adaptar en función de la gravedad del
            paciente, ya que hay casos en los que se producen neumonías graves, pero en otros las manifestaciones son
            leves.
          </p>
          <p>
            <p>
              <h6>¿Cuáles son los 4 tratamientos que la OMS estudia para combatir el covid-19?</h6>
            </p>
            <p>
              <strong>Remdesivir</strong>
              <p style="text-align: justify;">
                Diseñado originalmente para tratar el ébola, el remdesivir no mostró ser efectivo. Sí parece, sin
                embargo, tener potencial en contra de los coronavirus según pruebas de células cultivadas en
                laboratorios.
              </p>
              <p style="text-align: justify;">
                También hay reportes anecdóticos de que ha sido beneficiosa para pacientes de covid-19, pero eso no es
                suficiente para afirmar que la droga esa efectiva.
              </p>
              <p style="text-align: justify;">
                Entre los fármacos incluidos en el proyecto Solidaridad, el remdesivir “parece tener la más potente
                actividad anticoronavirus en las pruebas de laboratorio”, según le dice a BBC Mundo Stephen Morse,
                director del programa de Epidemiología de Enfermedades Infecciosas de la Universidad de Columbia
                (EE.UU.).
              </p>
            </p>
            <p>
              <strong>Cloroquina/hidroxicloroquina</strong>
              <p style="text-align: justify;">
                La cloroquina se utilizó durante muchos años para el tratamiento de la malaria, hasta que el parásito
                que produce esta enfermedad generó resistencia al medicamento.
              </p>
              <p style="text-align: justify;">
                "Si funciona para la malaria, no necesariamente significa que funcionará para el covid-19", advierte
                Rutherford.
              </p>
              <p style="text-align: justify;">
                Este medicamento tiene la ventaja de que se administra vía oral y es barato, pero también produce
                efectos secundarios como dolor de cabeza, mareos, pérdida del apetito, malestar estomacal, diarrea,
                vómitos y erupciones en la piel, indica la Biblioteca Nacional de Medicina de EE.UU.
              </p>
              <p style="text-align: justify;">
                Pero también tiene el peligro de que es relativamente fácil de conseguir y su aparición en las noticias
                en relación al covid-19 ha hecho que se reportaran casos de envenenamiento.
              </p>
            </p>
            <p>
              <strong>Ritonavir y lopinavir</strong>
              <p>
                La combinación de estas dos drogas se ha utilizado para el tratamiento del VIH.
              </p>
              <p style="text-align: justify;">
                Los expertos consultados por BBC Mundo coinciden en que esta mezcla no ha mostrado resultados
                alentadores contra el coronavirus.
              </p>
              <p>
                "Pero uno nunca sabe, es razonable volver a probar", dice Rutherford.
              </p>
            </p>
            <p>
              <strong>Ritonavir/lopinavir e interferon-beta</strong>
              <p style="text-align: justify;">
                La cuarta opción de terapia que probará el estudio Solidaridad es la mezcla de ritonavir y lopinavir
                junto con interferon-beta, una molécula que ayuda a controlar la inflamación y que ha mostrado ser
                efectiva en animales infectados con síndrome respiratorio de Oriente Medio (MERS, por sus siglas en
                inglés).
              </p>
              <p style="text-align: justify;">
                Los especialistas advierten que es clave ser cuidadosos con el momento en el que se administran ya que,
                si se aplican en etapas muy avanzadas, podrían ser poco efectivos o incluso causar más daños que
                beneficios al paciente.
              </p>
              <p style="text-align: justify;">
                Ahora solo es cuestión de tiempo para conocer los resultados del proyecto Solidaridad, pero según Morse:
                "Este es un gran paso hacia adelante".
              </p>
            </p>
          </p>
          <label>Fuente:</label>
          <a href="https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html">
            https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html
          </a>
          <br>
          <p>
            <img src="../covid-19/assets/img/treatments.jpg">
            <label>Fuente: </label>
            <a href="https://elmedicointeractivo.com/el-megatrial-global-de-los-cuatro-tratamientos-de-coronavirus-mas-prometedores/">
              https://elmedicointeractivo.com/el-megatrial-global-de-los-cuatro-tratamientos-de-coronavirus-mas-prometedores/
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>