<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Tipos de Brotes</a>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../covid-19/assets/img/type/coronavirus.jpeg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="https://www.tvazteca.com/aztecanoticias/finanzas/notas/aprueba-banco-de-desarrollo-de-al-linea-de-credito-por-300-mdd-para-emergencias-por-covid-19" target="_blank">
              <img class="avatar border-gray" src="../assets/img/type/resfri.jpg" alt="...">
              <h5 class="title">Coronavirus del resfriado</h5>
            </a>
          </div>
          <p class="description text-center">
            Esta variante de coronavirus corresponde a los tipos 229E y OC43, que provocan los síntomas comunes de un
            resfriado, aunque en los casos más graves también pueden ocasionar una neumonía en personas de edad avanzada
            o en neonatos.
            <br>
            <br>
          </p>
        </div>
        <hr>
        <div class="button-container">
          <label>Fuente: </label>
          <a href="https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html">
            https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../covid-19/assets/img/type/coronavirus.jpeg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="https://theconversation.com/coronavirus-conociendo-al-enemigo-134489" target="_blank">
              <img class="avatar border-gray" src="../assets/img/type/sars.jpeg" alt="...">
              <h5 class="title">SRAS-CoV</h5>
            </a>
          </div>
          <p class="description text-center">
            El síndrome respiratorio agudo y grave (SRAS, también conocido como SARS y SRAG) se inició en noviembre de
            2002 en China, afectó a más de 8.000 personas en 37 países y provocó más de 700 muertes. La mortalidad del
            SRAS-Cov se ha cifrado en el 10% aproximadamente.
          </p>
        </div>
        <hr>
        <div class="button-container">
          <label>Fuente: </label>
          <a href="https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html">
            https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../covid-19/assets/img/type/coronavirus.jpeg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="https://www.webconsultas.com/salud-al-dia/mers/mers-13639" target="_blank">
              <img class="avatar border-gray" src="../assets/img/type/mers.jpg" alt="...">
              <h5 class="title">MERS-CoV</h5>
            </a>
          </div>
          <p class="description text-center">
            El coronavirus causante del síndrome respiratorio de Oriente Medio (MERS) fue detectado por primera vez en
            2012 en Arabia Saudita. Se han notificado hasta octubre de 2019 más de 2.400 casos de infección en distintos
            países, con más de 800 muertes. La letalidad es, por tanto, del 35%.
          </p>
        </div>
        <hr>
        <div class="button-container">
          <label>Fuente: </label>
          <a href="https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html">
            https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="../covid-19/assets/img/type/coronavirus.jpeg" alt="...">
          </div>
          <div class="card-body">
            <div class="author">
              <a href="https://www.ultimahora.es/noticias/internacional/2020/03/04/1146139/coronavirus-identificados-dos-tipos-uno-ellos-agresivo.html">
                <img class="avatar border-gray" src="../assets/img/type/covid.jpg" alt="...">
                <h5 class="title">COVID-19</h5>
              </a>
            </div>
            <p class="description text-center">
              A finales de diciembre de 2019 se notificaron los primeros casos de un nuevo coronavirus en la ciudad de
              Wuhan (China). Desde entonces el goteo de nuevos infectados por el virus SARS-CoV-2 (inicialmente llamado
              2019nCoV), que provoca el COVID-19, ha sido continuo y su transmisión de persona a persona se ha
              acelerado. Los casos declarados de nemonía de Wuhan ya superan con creces a los de la epidemia de SRAS,
              pero la tasa de letalidad es más baja.
            </p>
          </div>
          <hr>
          <div class="button-container">
            <label>Fuente: </label>
            <a href="https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html">
              https://cuidateplus.marca.com/enfermedades/infecciosas/coronavirus.html
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>