<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">¿Qué es?</a>
    </div>
  </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">"La humanidad tiene un margen de mil años antes de autodestruirse
                              a manos de sus avances científicos y tecnológicos".</h5>
          <p class="category">Stephen Hawking
          </p>
          <p style="text-align: justify;">
            Son una amplia familia de virus que pueden causar diversas afecciones, desde el resfriado común hasta enfermedades más graves, como ocurre con el coronavirus causante del síndrome respiratorio de Oriente Medio (MERS-CoV) y el que ocasiona el síndrome respiratorio agudo severo (SRAS-CoV). Un nuevo coronavirus es una nueva cepa de coronavirus que no se había encontrado antes en el ser humano. 
          </p>
          <p style="text-align: justify;">
            El nuevo Coronavirus (COVID-19) ha sido catalogado por la Organización Mundial de la Salud como una emergencia en salud pública de importancia internacional (ESPII). Se han identificado casos en todos los continentes y, el 6 de marzo se confirmó el primer caso en Colombia.
          </p>
          <p style="text-align: justify;">
            La infección se produce cuando una persona enferma tose o estornuda y expulsa partículas del virus que entran en contacto con otras personas.  
          </p>
          <label>Fuente:</label>
          <a href="https://www.who.int/es/health-topics/coronavirus">
            https://www.who.int/es/health-topics/coronavirus
          </a>
          <br>
          <p>
            <img src="../covid-19/assets/img/whatis.jpg">
            <label>Fuente: </label>
            <a href="https://vacunasaep.org/profesionales/noticias/coronavirus-desarrollo-de-vacunas">
              https://vacunasaep.org/profesionales/noticias/coronavirus-desarrollo-de-vacunas
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>