<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">¿A quiénes nos afec?</a>
    </div>
  </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">"Toda la desdicha de los hombres se debe a una sola cosa: no saber permanecer en reposo en
            una habitación".</h5>
          <p class="category">Blaise Pascal
          </p>
          <p style="text-align: justify;">
            Se conoce que cualquier persona puede infectarse, independientemente de su edad, pero hasta el momento se
            han registrado relativamente pocos casos de COVID-19 en niños. La enfermedad es mortal en raras ocasiones, y
            hasta ahora las víctimas mortales han sido personas de edad avanzada que ya padecían una enfermedad crónica
            como diabetes, asma o hipertensión.
          </p>
          <p style="text-align: justify;">
            El nuevo Coronavirus causa una Infección Respiratoria Aguda (IRA), es decir una gripa, que puede ser leve,
            moderada o severa. Puede producir fiebre, tos, secreciones nasales (mocos) y malestar general. Algunos
            pacientes pueden presentar dificultad para respirar.
          </p>
          <label>Fuente:</label>
          <a href="https://www.minsalud.gov.co/salud/publica/PET/Paginas/Covid-19_copia.aspx">
            https://www.minsalud.gov.co/salud/publica/PET/Paginas/Covid-19_copia.aspx
          </a>
          <br>
          <p>
            <div class="d-flex justify-content-center">
              <img src="../covid-19/assets/img/who.jpg" style="height: 600px;">
            </div>
            <div class="d-flex justify-content-center">
              <label>Fuente: </label>
              <a href="https://twitter.com/el_universal_mx/status/1233402726710558720">
                https://twitter.com/el_universal_mx/status/1233402726710558720
              </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>