<!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
<div class="logo">
  <a href="https://espanol.cdc.gov/coronavirus/2019-ncov/index.html" class="simple-text logo-mini">
    <img src="./assets/img/logo.png"></img>
  </a>
  <a href="./" class="simple-text logo-normal">
    COVID-19
  </a>
</div>
<div class="sidebar-wrapper" id="sidebar-wrapper">
  <ul class="nav">
    <li id="statistics" class="active">
      <a>
        <i class="now-ui-icons business_chart-bar-32"></i>
        <p>Estadísticas</p>
      </a>
    </li>
    <li id="whatis">
      <a>
        <i class="now-ui-icons business_bulb-63"></i>
        <p>¿Qué es?</p>
      </a>
    </li>
    <li id="origin">
      <a>
        <i class="now-ui-icons education_atom"></i>
        <p>Origen</p>
      </a>
    </li>
    <li id="types">
      <a>
        <i class="now-ui-icons design_bullet-list-67"></i>
        <p>Tipos de brotes</p>
      </a>
    </li>
    <li id="who">
      <a>
        <i class="now-ui-icons users_single-02"></i>
        <p>¿A quiénes afecta?</p>
      </a>
    </li>
    <li id="symptoms">
      <a>
        <i class="now-ui-icons health_ambulance"></i>
        <p>Síntomas</p>
      </a>
    </li>
    <li id="diagnostic">
      <a>
        <i class="now-ui-icons media-2_sound-wave"></i>
        <p>Diagnóstico</p>
      </a>
    </li>
    <li id="how1">
      <a>
        <i class="now-ui-icons sport_user-run"></i>
        <p>¿Cómo se propaga el virus?</p>
      </a>
    </li>
    <li id="how2">
      <a>
        <i class="now-ui-icons objects_support-17"></i>
        <p>¿Cómo reducir el riesgo?</p>
      </a>
    </li>
    <li id="prevention">
      <a>
        <i class="now-ui-icons ui-2_favourite-28"></i>
        <p>Prevención</p>
      </a>
    </li>
    <li id="treatments">
      <a>
        <i class="now-ui-icons business_money-coins"></i>
        <p>Tratamientos</p>
      </a>
    </li>
    <li id="propagation">
      <a>
        <i class="now-ui-icons location_world"></i>
        <p>Propagación global</p>
      </a>
    </li>
    <li id="references">
      <a>
        <i class="now-ui-icons location_bookmark"></i>
        <p>Referencias bibliográficas</p>
      </a>
    </li>
    <li id="references">
      <a href="https://cuidateplus-mediktor.marca.com/es" target="_blank">
        <i class="now-ui-icons arrows-1_cloud-download-93"></i>
        <p>App Cuidate plus Mediktor</p>
      </a>
    </li>
  </ul>
</div>